*{
    margin:0px;
    padding: 0px;
  }
  /* Menu */
  :root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  .wrapper{
    display:flex;
    flex-direction: column;
    height: auto;
  }
  .header{
    background-color: #212529;
    color:white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    position: fixed;
    z-index: 10; 
    width: 100%;
  }
  .header a{
    text-decoration: none;
    color:white;
    margin: 10px;
  }
  .header a:hover{
    color:white;
  }
  .content{
    display: flex;
    flex-direction: row;
  }
  .menu-left{
    background-color: #212529;
    padding: 30px 10px;
    min-height: 669px;
    height: 100%;
    min-width: 200px;
    position: fixed;
    /* transform: translateY(-50%); */

  }
  .menu-left a{
    text-decoration: none;
    color: #5A5D60;
  }

  .menu-left li{
    margin: 100px 21px 0 0;
  }

  .menu-left a:hover{
    color:white;
  }
  p{
    color:#5A5D60;
    margin-top: 50px;
    font-size: 12px;
  }
  /* Charts */
  .main-content{
    width: 1000px;
    display:flex;
    flex-direction: column;
    padding:10px;
    margin-left: 170px;
    margin-top: 70px;
  }
  .row-s{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 970px;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    padding:20px;
    box-shadow: 0px 2px 10px #888888;
  }
  .col-s{
    width:250px;
  }
  .info{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  
.footer{
  margin-top:1000px;
}