{% extends 'base.html' %}
{% load static %}

{% block extraEstilos %}
    <link rel="stylesheet" href="{% static 'master/css/styles_d.css' %}" />
    <link rel="stylesheet" href="{% static 'usuarios/css/style_usuarios.css' %}" />
{% endblock %}


{% block extraScripts %}
    <script src="{% static 'master/js/scripts_d.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block contenido %}
    <body background="{% static 'master/assets/img/fondopizza.jpg' %}">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header">
                                        <h3 class="text-center font-weight-light my-4">Ingresa a Dojos Pizza</h3>
                                    </div>
                                    <div class="card-body">
                                        <form action="" method="POST" >
                                        {% csrf_token %}
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" name="email" value="{{email}}"/>
                                                <label for="inputEmail">Email de usuario</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputPassword" type="password" placeholder="Password" name="password" />
                                                <label for="inputPassword">Password</label>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                {% if errors.login %}
                                                <span class="form-text error-form">{{ errors.login }}</span>
                                                {% endif %}
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" id="inputRememberPassword" type="checkbox" value=""/>
                                                <label class="form-check-label" for="inputRememberPassword" >Recuerda tu Password</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="/">Home</a>
                                                <button type="submit" class="btn btn-primary">Entra</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small">
                                        <a href="{% url 'usuarios:registro'%}">No tienes cuenta? Crear usuario en Dojos!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            
        </div>
    </body>
{% endblock %}