{% extends 'base.html' %}
{% load static %}

{% block extraEstilos %}
    <link rel="stylesheet" href="{% static 'master/css/styles_c.css' %}" />
    <link rel="stylesheet" href="{% static 'usuarios/css/style_usuarios.css' %}" />
{% endblock %}


{% block extraScripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'usuarios/js/java.js' %}"></script>
{% endblock %}

{% block contenido %}

    <body background="{% static 'master/assets/img/fondopizza.jpg' %}">

    {% if perfil %}

        <div class="d-flex justify-content-center">
        
            <div class="bordeado">
            
                <h1 class="text-white">Bienvenido {{usuario.nombre}}</h1>
                
                <form action="" method="POST" class="mt-3">
                    {% csrf_token %}
                    <table class="table table-borderless tabla_usuarios_editar">
                        <tr>
                            <td>
                                <label class="col-form-label text-white">Nombre:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control  {% if errors.nombre %} is-invalid {% endif %}" name="nombre" value="{{ usuario.nombre }}">
                            </td>
                            <td>
                                {% if errors.nombre %}
                                <span class="form-text error-form">{{ errors.nombre }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="col-form-label text-white">Dirección:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control  {% if errors.direccion %} is-invalid {% endif %}" name="direccion" value="{{ usuario.direccion }}">
                            </td>
                            <td>
                                {% if errors.direccion %}
                                <span class="form-text error-form">{{ errors.direccion }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="col-form-label text-white">Email:</label>
                            </td>
                            <td>
                                <input type="text" class="form-control  {% if errors.email %} is-invalid {% endif %}" name="email" value="{{ usuario.email }}">
                            </td>
                            <td>
                                {% if errors.email %}
                                <span class="form-text error-form">{{ errors.email }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-success">Guardar cambios</button>
                </form>
            
                <div class="m-4 d-flex justify-content-around tabla_usuarios_editar">
                    <a href="{% url 'usuarios:cambiar_pw' id_usuario=usuario.id %}" class="btn btn-info">Cambiar Contraseña</a>
                    <a class="btn btn-dark ms-2" onclick="establecer_eliminar_id({{usuario.id}})" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar cuenta</a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if cambio_pw %}
        
        <div class="d-flex justify-content-center">
        
            <div class="bordeado">
            
                <h1 class="text-white">Bienvenido {{usuario.nombre}}</h1>

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row g-3 align-items-center m-2">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label text-white">Contraseña actual:</label>
                        </div>
                        <div class="col-auto">
                            <input name="password" type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center m-2">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label text-white">Nueva contraseña:</label>
                        </div>
                        <div class="col-auto">
                            <input name="nueva_pw" type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                        <div class="col-auto">
                            <span id="passwordHelpInline" class="form-text text-white">
                            Contraseña debe tener al menos 6 caracteres.
                            </span>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center m-2">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label text-white">Confirmar contraseña:</label>
                        </div>
                        <div class="col-auto">
                            <input name="confirm_nueva_pw" type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
                    <button class="btn btn-info m-3">Cambiar contraseña</button>
                    {% if errors.cambio_pw %}
                        <p class="bg-danger">{{errors.cambio_pw}}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endif %}

    <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="">Dojos Pizza</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li><a href="{% url 'usuarios:logout' %}" class="btn btn-danger">Cerrar Sesión</a></li>
                        <li><a href="{% url 'usuarios:perfil' id_usuario=usuario.id %}" class="btn btn-warning ms-3">Mi perfil</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="navbar-brand" >Hola {{usuario.nombre}}! </h3>
                    
                </div>
            </div>
        </nav>
    <!-- Page Content-->
        <section>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-6">
                        <h1 class="mt-5"></h1>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>
    
  </body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Seguro que quieres eliminar tu cuenta? </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"> Cerrar</button>
                <button onclick="eliminar()" type="button" class="btn btn-outline-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}