*{
    margin: 0px;
    padding: 0px;    
}
.col-s{
    width: 300px;
}
.wrapper{
    display:flex;
    flex-direction: column;
    margin-left:300px;
}
.container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
    border: 1px solid black;
}