{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="container">
    {% if index %}
    <h1>{{index}}</h1>
    <a href="{% url 'productos:crear_categoria' %}">Crear Categoria</a>
    <a href="{% url 'productos:crear_producto' %}">Crear Producto</a>
    <a href="{% url 'productos:listado_productos' %}">Ver Productos</a>
    {% endif %}


    {% if formulario_categoria %}
    <h3>Crear Categoria</h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{ formulario_categoria.as_p }}
        <button class="btn btn-info">Crear</button>
    </form>
    {% endif %}

    {% if formulario_producto %}
    <h3>Crear Producto</h3>
    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ formulario_producto.as_p }}
        <button class="btn btn-info">Crear</button>
    </form>
    {% endif %}


    {% if productos %}
    <div class="container">
        <h1>Productos creados:</h1>
        <div class="d-flex flex-wrap">
            {% for producto in productos %}

            <div class="card m-2" style="width: 18rem;">
                <img src="/media/{{producto.imagen}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <h5 class="card-title">{{producto.precio}}</h5>
                    <a href="" class="btn btn-primary">Editar</a>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

    {% endif %}

</div>
{% endblock %}