{% extends 'store/main.html' %} {% load static %} {% block content %} {% load humanize %}
<div class="row">
  <div class="col-lg-12">
    <div class="box-element">
      <a class="btn btn-outline-dark" href="/pedidos"
        >&#x2190; Continue Shopping</a
      >
      {% if 'id' in request.session %}
      <span class="float-right">
        <a
          class="btn btn-outline-dark"
          href="{% url 'pedidos:previous_orders' %}"
          >Previous Orders</a
        >
      </span>
      {% else %}
      <span class="float-right">
        <p class="text-muted">Feel safe shopping with us</p>
      </span>
      {% endif %}

      <br />
      <br />
      <table class="table">
        <tr>
          <th>
            <h5>Items: <strong>{{order.get_cart_items}}</strong></h5>
          </th>
          <th>
            <h5>Total:<strong> ${{order.get_cart_total|intcomma}}</strong></h5>
          </th>
          <th>
            <a
              style="float: right; margin: 5px"
              class="btn btn-success"
              href="{% url 'pedidos:checkout' %}"
              >Checkout</a
            >
          </th>
        </tr>
      </table>
    </div>

    <br />
    <div class="box-element">
      <div class="cart-row">
        <div style="flex: 2"><strong>Item</strong></div>
        <div class="price" style="flex: 2"><strong>Price</strong></div>
        <div style="flex: 1"><strong>Quantity</strong></div>
        <div style="flex: 1"><strong>Total</strong></div>
      </div>
      {% for item in items %}
      <div class="cart-row">
        <div class="flex:2">
          <img
            style="width: 150px; height: 100px"
            src="/media/{{item.product.imagen}}"
          />
        </div>

        <div style="flex: 2">
          <p>{{item.product.nombre}}</p>
        </div>
        <div style="flex: 1">
          <p>${{item.product.precio|intcomma}}</p>
        </div>
        <div style="flex: 1">
          <p class="quantity">{{item.quantity}}</p>
          <div class="quantity">
            <img
              data-product="{{item.product.id}}"
              data-action="add"
              class="chg-quantity update-cart"
              src="{% static  'master/img/arrow_up.png' %}"
            />

            <img
              data-product="{{item.product.id}}"
              data-action="remove"
              class="chg-quantity update-cart"
              src="{% static  'master/img/arrow_down.png' %}"
            />
          </div>
        </div>
        <div style="flex: 1">
          <p>${{item.get_total|intcomma}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
