{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<p>Estos son tus pedidos:</p>
<table class="table">
    <thead>
        <tr>
            <th><strong>Orden Nº</strong></th>
            <th><strong>Total</strong></th>
            <th><strong>Fecha</strong></th>
            <th class='text-center'>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for order in orders %}
            <th scope="row">{{order.id}}</a></th>
            <td>${{order.order_total}}</td>
            <td>{{order.date_ordered|date:'D d M Y'}}</td>
            <td class='text-center'><a class='btn btn-primary' href="/pedidosorder_details/{{order.id}}">View Order</a>
                <a class='btn btn-success' href="#">Dowload
                    Voucher</a> </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock content %}